* {
    margin: 0;
    color: #1c2824;
    font-family: "Tilt Neon", sans-serif;
}


/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px 10px 40px;
}

.logo-nav {
    width: 200px;
}

.carrito-size {
    width: 60px;
}

.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
    color: white;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}

.cover-main {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-image: url(../img/main-cover.png);
    background-repeat: repeat;
    background-position: center center;
    background-size: 100%;
}

.cover-main>h1 {
    font-size: 50px;
    color: white;
}

.cover-main>p {
    color: white;
    font-size: 25px;
}

.button-cover {
    background-color: #5cbb1f;
    color: white;
    box-shadow: #5bbb1fe4 0px 5px, #5bbb1f8d 0px 10px, #5bbb1f62 0px 15px, #5bbb1f24 0px 20px, #5bbb1f0c 0px 25px;
    border-radius: 5px;
    width: 190px;
    height: 70px;
    font-size: 20px;
    border-color: #5cbb1f;
    margin: 10px;
}

/* Main */

.container-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.item{
    width: 280px;
    height: 440px;
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #5cbb1f;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}

.cart-empty{
    padding: 20px;
    text-align: center;
}

.hidden{
    display: none;
}

main > hr {
    border: 0;
    height: 1.5px;
    background: #333;
    background-image: none;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#supplements-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-title {
    font-size: 30px;
    padding-bottom: 30px;
    padding-top: 50px;
    text-align: center;
}

.product-title {
    font-size: 20px;
}


/* Styles Login */

.main-login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../img/back-login.jpg);
    background-repeat: repeat;
    background-position: center center;
    background-size: 100%;
}

main > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 20px;
    height: 290px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.647);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title {
    padding: 15px;
}

main > form > label {
    padding: 10px;
}

.link {
    padding: 10px;
}

main > form > a {
    padding: 5px;
}

#button {
    background-color: #5cbb1f;
    color: white;
    box-shadow: #5bbb1fe4 0px 5px, #5bbb1f8d 0px 10px, #5bbb1f62 0px 15px, #5bbb1f24 0px 20px, #5bbb1f0c 0px 25px;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    border-color: #5cbb1f;
    margin: 10px;
}

.logo-login {
    width: 100px;
    margin-top: 500px;
}

.description-login {
    color: white;
}

.button-login {
    text-decoration: none;
    color: white;
}